<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5325c122-2d80-4028-9627-a802b5568390/resourceGroups/fund11/providers/Microsoft.Web/sites/dev-utcert-v1</ResourceId>
    <ResourceGroup>fund11</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dev-utcert-v1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ddc1a2bf-0d64-4afb-b225-a64d1a1329c1</ProjectGuid>
    <PublishUrl>https://dev-utcert-v1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dev-utcert-v1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>